.about-container{
    display: grid;
    margin: 10% auto;
    grid-template-columns: 10vw 10vw 10vw 10vw 20vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    height: 100vh;
     /* background-color: #2a2a2ad0;
    background-color: #17141d; */
    background-color: #001628;

}

h3{
    font-size: 4rem;
    grid-column: 2;
    grid-row: first-line / 1;
    width: 15vw;
    max-width: 20vw;
}