.chartJS{
    grid-column: 2 / span 1;
    grid-row: first-line / 3;
    width: 20vw;
    max-width: 20vw;
    animation: all 1.4s cubic-bezier(.25, .25, .25, 1.25);
    
}
.chartHTMLCSS{
    grid-column: 5;
    grid-row: first-line / 3;
    width: 20vw;
    max-width: 20vw;
    animation: all 1.4s cubic-bezier(.25, .25, .25, 1.25);

}
.chartOther{
    grid-column: 7;
    grid-row: first-line / 3;
    width: 20vw;
    max-width: 20vw;
    animation: all 1.4s cubic-bezier(.25, .25, .25, 1.25);
    
}

@media screen and (max-width: 600px){
    .chartJS{
        grid-column: 1 ;
        grid-row: first-line / 3;
        width: 20vw;
        max-width: 20vw;
        animation: all 1.4s cubic-bezier(.25, .25, .25, 1.25);
        
    }
    .chartHTMLCSS{
        grid-column: 5;
        grid-row: first-line / 3;
        width: 20vw;
        max-width: 20vw;
        animation: all 1.4s cubic-bezier(.25, .25, .25, 1.25);
    
    }
    .chartOther{
        grid-column: 7;
        grid-row: first-line / 3;
        width: 20vw;
        max-width: 20vw;
        animation: all 1.4s cubic-bezier(.25, .25, .25, 1.25);
        
    }
}
@media screen and (max-width: 700px){

    }
  @media screen and (max-width: 992px){

  }
  @media screen and (max-width: 1200px){

  }