body{
  height: 120vh;
}
.bgSvg{
  height: auto;
}
svg{
  width: 100vw;
  
  transition: all ease 2.5s;
  opacity: 1;
  position: fixed;
  z-index: 1;
}
           
svg .cls-1 {
    stroke: rgb(255, 255, 255);
    stroke-width: 1px;
    fill: transparent;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: animate 12s forwards ;
}
@keyframes animate {
  to{
      stroke-dashoffset: 0;
  }
}


.bgSvg {
position: fixed;
left: 25%;
}
.scrolled{
  opacity: 1;
}
.cls-1,
.cls-3 {
    fill: #fff;
}
.cls-1,
.cls-2,
.cls-4 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
.cls-2 {
    fill: #b7ac7f;
}
.cls-4 {
    fill: none;
}