$bgColor:#001628;

.bkg-animated {
    background-color: $bgColor;
    background-size: contain;
    width: 100%;
    text-align: center;
    height: 50vh;
    box-sizing: border-box;
    position: static;
    background-color: $bgColor;
    transform: translateY(20vh); 
    border-top: 1px solid #fff;

}
  
  @keyframes opacity { 
    85%, 100% { opacity: 0; } 
  }


  @media screen and (max-width: 600px){
    .text{      
        font-size: 1em;
    }h4{
        font-size: 2rem;
    }
}
@media screen and (max-width: 700px){
 .bkg-animated{

  h2{
     opacity: 0;
   }
}
    }
  @media screen and (max-width: 992px){
    .text{
        font-size: 1em;
    }
    h4{
        font-size: 2rem;
    }
  }
  @media screen and (max-width: 1200px){
    .text{
        font-size: 1em;
    }
  }