.bkg-animated {
    background: url(../media/img/life-4244797.png);
    background-size: contain;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    padding-top: 120px;
    box-sizing: border-box;
    animation: slide 20s linear infinite;    
 position: static;
  }
  
  @keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -960px 0; }
  }

